body {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	background-color: #8B008B;
	
}
.container{
	background-color: #8B008B;
	}

.header{
	text-align: center;
	font-family: 'Luckiest Guy';
	font-size: 20px;
	color:  #FFFFFF;
	width: 52%;
	margin-left: 25%;
	border-radius: 15px;
	
}

#timer{
	font-family: 'Luckiest Guy';
	color:  #FFFFFF;
	width: 50%px;
	float: left;
	margin-left: 10%
}

#points{
	height:50px;
	float:left;
	width: 25%;
}
#pair_kuva{
	width: 100px;
	margin-left: 20px;
}

.vasen{
	width: 100px;
	height: 100%;
	float: left;
 }	
 
 .oikea{
	width: 100px;
	height: 100%;
	float: left;
	
 }	

.playbutton{
  width: 269px;
  margin-left: auto;
  margin-right: auto;
}

.backbutton{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
}

#back_button{
	width: 50%;
	float: left;
}

#kortit{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 50%;
}
	
.slot1 {
  width: 50px;
  height: 25%;
  
}
.slot2 {
  width: 50px;
  height: 25%;
  
}
.slot3 {
  width: 50px;
  height: 25%;
  
}
.slot4 {
  width: 50px;
  height: 25%;
  
  
}
.slot5 {
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}
.slot6{
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}
.slot7 {
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}
.slot8 {
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}

@media screen and (max-device-width: 800px){
	
  body {
  
  background-color: #8B008B;
  
}
.container{
  background-color: #8B008B;
  }

.header{
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 40px;
  color:  #FFFFFF;
  width: 52%;
  margin-left: 25%;
  border-radius: 15px;
  
}
.vasen{
  width: 40%;
  margin-top: 10%;
  float: left;
}
.oikea{
  width: 40%;
  margin-top: 10%;
  float: left;
}

#kortit{
  width: 100%;
  
}

#kortti_takaa_1{
  width: 100%;
}

#kortti_takaa_2{
  width: 100%;
}

#kortti_takaa_3{
  width: 100%;
}

#kortti_takaa_4{
  width: 100%;
  
}

#kortti_takaa_5{
  width: 100%;
  
}

#kortti_takaa_6{
  width: 100%;
  
}

#kortti_1{
  width: 100%;
}

#kortti_2{
  width: 100%;
}

#kortti_3{
  width: 100%;
}

#kortti_4{
  width: 100%;
}

#kortti_5{
  width: 100%;
}

#kortti_6{
  width: 100%;
}

.slot1 {
  width: 300px;
  height: 300px;
  
}
.slot2 {
  width: 300px;
  height: 300px;


}
.slot3 {
  width: 300px;
  height: 300px;
  
}
.slot4 {
  width: 300px;
  height: 300px;
 
}
.slot5 {
  width: 300px;
  height: 300px;
 
 }

.slot6 {
  width: 300px;
  height: 300px;
 
  
}

}
