body {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	background-color: #8B008B;
	
}
.container{
	background-color: #8B008B;
	}

.header{
	text-align: center;
	font-family: 'Luckiest Guy';
	font-size: 20px;
	color:  #FFFFFF;
	width: 52%;
	margin-left: 25%;
	border-radius: 15px;
	
}

#kortit{
	margin-left: 40%;
}
	
.slot1 {
  width: 50px;
  height: 50px;
  
}
.slot2 {
  width: 50px;
  height: 50px;
  margin-left: 90px;
}
.slot3 {
  width: 50px;
  height: 50px;
  margin-left: 180px;
}
.slot4 {
  width: 50px;
  height: 50px;
  margin-top: -70px;
}
.slot5 {
  width: 50px;
  height: 50px;
  margin-left: 90px;
}
.slot6 {
  width: 50px;
  height: 50px;
  margin-left: 180px;
}

@media screen and (max-device-width: 800px){
	
.slot1 {
  width: 50px;
  height: 50px;
  
}
.slot2 {
  width: 50px;
  height: 50px;
  margin-left: 90px;
}
.slot3 {
  width: 50px;
  height: 50px;
  margin-left: 180px;
}
.slot4 {
  width: 50px;
  height: 50px;
  margin-top: -70px;
}
.slot5 {
  width: 50px;
  height: 50px;
  margin-left: 90px;
}
.slot6 {
  width: 50px;
  height: 50px;
  margin-left: 180px;
}

}
