body {
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	background-color: #8B008B;
	
}
.container{
	background-color: #8B008B;
	margin: 0 auto;
	}

.header{
	text-align: center;
	font-family: 'Luckiest Guy';
	font-size: 20px;
	color:  #FFFFFF;
	width: 52%;
	margin-left: 25%;
	border-radius: 15px;
	
}
#kortit{ 
	margin-left: 35%; 
	
	margin-top: 5%;
	width: 30%;
	height: 600px;
	background-color: #000000;
	
}

.yksi{
	width: 10%;
	height: 100%;
	float: left;
	
	
 }	
 
 .kaksi{
	width: 10%;
	height: 100%;
	float: left;
	margin-left: 20%;
 }

.kolme{
	width: 10%;
	height: 100%;
	float: left;
	margin-right: 20%;
	margin-left: 20%;
	margin-left: 20%;
} 
.nelja{
	width: 10%;
	height: 100%;
	float: right;
	
} 

.playbutton{
  width: 269px;
  float: right;
}

.backbutton{
  width: 269px;
  float: right;
}



	
.slot1 {
  width: 50px;
  height: 25%;
  
}
.slot2 {
  width: 50px;
  height: 25%;
  
}
.slot3 {
  width: 50px;
  height: 25%;
  
}
.slot4 {
  width: 50px;
  height: 25%;
  
  
}
.slot5 {
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}
.slot6{
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}
.slot7 {
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}
.slot8 {
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}
.slot9 {
  width: 50px;
  height: 25%;
  
}
.slot10 {
  width: 50px;
  height: 25%;
  
}
.slot11 {
  width: 50px;
  height: 25%;
  
}
.slot12 {
  width: 50px;
  height: 25%;
  
  
}
.slot13 {
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}
.slot14{
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}
.slot15 {
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}
.slot16 {
  width: 50px;
  height: 25%;
  margin-left: 15%;
  
}

@media screen and (max-device-width: 800px){
	
  body {
  
  background-color: #8B008B;
  
}
.container{
  background-color: #8B008B;
  }

.header{
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 40px;
  color:  #FFFFFF;
  width: 52%;
  margin-left: 25%;
  border-radius: 15px;
  
}
#kortit{
  width: 640px;
  float: left;
  
}

.yksi{
  width: 20%;
  margin-top: 10%;
  float: left;
}
.kaksi{
  width: 20%;
  margin-top: 10%;
  float: left;
  margin-left: 20%;
}
.kolme{
  width: 20%;
  margin-top: 10%;
  float: left;
  margin-right: 20%;
}
.nelja{
  width: 20%;
  margin-top: 10%;
  float: right;
}





#kortti_takaa_1{
  width: 100%;
}

#kortti_takaa_2{
  width: 100%;
}

#kortti_takaa_3{
  width: 100%;
}

#kortti_takaa_4{
  width: 100%;
  
}

#kortti_takaa_5{
  width: 100%;
  
}

#kortti_takaa_6{
  width: 100%;
  
}
#kortti_takaa_7{
  width: 100%;
}

#kortti_takaa_8{
  width: 100%;
}

#kortti_takaa_9{
  width: 100%;
}

#kortti_takaa_10{
  width: 100%;
  
}

#kortti_takaa_11{
  width: 100%;
  
}

#kortti_takaa_12{
  width: 100%;
  
}
#kortti_takaa_13{
  width: 100%;
  
}
#kortti_takaa_14{
  width: 100%;
  
}
#kortti_takaa_15{
  width: 100%;
  
}
#kortti_takaa_16{
  width: 100%;
  
}

#kortti_1{
  width: 100%;
}

#kortti_2{
  width: 100%;
}

#kortti_3{
  width: 100%;
}

#kortti_4{
  width: 100%;
}

#kortti_5{
  width: 100%;
}

#kortti_6{
  width: 100%;
}
#kortti_7{
  width: 100%;
}

#kortti_8{
  width: 100%;
}

#kortti_9{
  width: 100%;
}

#kortti_10{
  width: 100%;
}

#kortti_11{
  width: 100%;
}

#kortti_12{
  width: 100%;
}
#kortti_13{
  width: 100%;
}

#kortti_14{
  width: 100%;
}
#kortti_15{
  width: 100%;
}
#kortti_16{
  width: 100%;
}


.slot1 {
  width: 300px;
  height: 300px;
  
}
.slot2 {
  width: 300px;
  height: 300px;


}
.slot3 {
  width: 300px;
  height: 300px;
  
}
.slot4 {
  width: 300px;
  height: 300px;
 
}
.slot5 {
  width: 300px;
  height: 300px;
 
 }

.slot6 {
  width: 300px;
  height: 300px;
 
  
}
.slot7 {
  width: 300px;
  height: 300px;
  
}
.slot8 {
  width: 300px;
  height: 300px;


}
.slot9{
  width: 300px;
  height: 300px;
  
}
.slot10 {
  width: 300px;
  height: 300px;
 
}
.slot11 {
  width: 300px;
  height: 300px;
 
 }

.slot12 {
  width: 300px;
  height: 300px;
}
.slot13 {
  width: 300px;
  height: 300px;
}
.slot14 {
  width: 300px;
  height: 300px;
}
.slot15 {
  width: 300px;
  height: 300px;
}
.slot16 {
  width: 300px;
  height: 300px;
}

}
